/* VARIALBES */
$pink: #d35266;
$gray: #888;
$dark: #383838;

$gotham-bold: "Gotham Bold", san-serif;
$gotham-light: "Gotham Rounded Light", san-serif;
$helvetica-l: "Helvetica Light", san-serif;
$helvetica-m: "Helvetica Medium", san-serif;
$helvetica-b: "Helvetica Bold", san-serif;
