@font-face {
    font-family: 'Gotham Bold';
    src: url(../font/GothamBold.ttf);
}

@font-face {
    font-family: 'Gotham Rounded Light';
    src: url(../font/GothamRoundedLight.otf);
}

@font-face {
    font-family: 'Helvetica Light';
    src: url(../font/HelveticaNeueCyr-Light.ttf);
}

@font-face {
    font-family: 'Helvetica Medium';
    src: url(../font/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(../font/HelveticaNeueCyr-Bold.ttf);
}

/* VARIALBES */
$pink: #d35266;
$gray: #888;
$dark: #383838;

$gotham-bold: 'Gotham Bold',
san-serif;
$gotham-light: 'Gotham Rounded Light',
san-serif;
$helvetica-l: 'Helvetica Light',
san-serif;
$helvetica-m:'Helvetica Medium',
san-serif;
$helvetica-b:'Helvetica Bold',
san-serif;

/* General utilities*/

%px-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

%px-2 {
    padding-left: 3rem;
    padding-right: 3rem;
}

%px-3 {
    padding-left: 4rem;
    padding-right: 4rem;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%ul-style-none {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: $gotham-light;
}

main {
    background-color: #fafafa;
}

/* NAVIGATION BAR*/

nav {
    @extend %px-2;
    @extend %flex-between;

    height: 60px;
    align-items: center;
    background-color: $dark;

    a {
        color: $gray;
        font-size: 15px;
        font-family: $gotham-light;

        img {
            width: 65px;
        }
    }

    .link-highlight {
        color: $pink;
    }
}

/* HEADER */

/* DEPARTMENT SECTION*/
.dept-header {
    color: $gray;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: $helvetica-b;
    border-bottom: solid 0.5px #ddd;

    i {
        margin-right: 10px;
    }
}

.dept-header-details {
    margin-left: 10px;
    font-family: $helvetica-l;
    font-size: 13px;
    color: $gray;
}

.grid {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: #fff;
    border: #ddd 1px solid;
    box-shadow: 0 1px 3px rgba(192, 190, 190, 0.52);
    padding: 1rem;
}

.product-info {
    font-family: $helvetica-l;
    line-height: 1.3;

    h4 {
        a {
            color: $dark;
        }
    }

    p {
        font-family: inherit;
        font-size: 14px;

        span {
            font-weight: bold;
        }
    }
}

.tag {
    font-size: 14px;
    color: $pink;
    font-family: $gotham-bold;
}


.card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-price {
    @extend %flex-between;

    padding-top: 10px;
}

.sign {
    border: $gray solid 0.3px;
    padding: 0 3px;
    font-size: 15px;
}

.price {
    font-family: $gotham-bold;
    color: $pink;
}

/*FOOTER*/

.about {
    margin: 0 auto;
    grid-area: about;
    width: 350px;

    p {
        text-align: justify;
        color: $gray;
        font-family: $helvetica-m;
        font-size: 14px;
        margin-bottom: 30px;
    }
}

.footer-categories {
    margin: 0 auto;
    @extend %flex-column;
    text-align: left;

    ul {
        padding-top: 8px;
        @extend %ul-style-none;

        li {
            a {
                font-family: Arial, Helvetica, sans-serif;
                color: $gray;
            }
        }
    }

    h4 {
        color: $pink;
        border-bottom: $pink solid 1px;
        padding-bottom: 8px;
    }

    grid-area: categories;
    margin-bottom: 30px;
}

.footer-navigation {
    margin: 0 auto;
    @extend %flex-column;
    text-align: left;

    ul {
        padding-top: 8px;
        @extend %ul-style-none;

        li {
            a {
                font-family: Arial, Helvetica, sans-serif;
                color: $gray;
            }
        }
    }

    h4 {
        color: $pink;
        border-bottom: $pink solid 1px;
        padding-bottom: 8px;
    }

    grid-area: navigation;

    margin-bottom: 30px;
}

.footer-menu {
    @extend %flex-column;
    grid-area: btns;
    color: $gray;

    div {
        margin: 10px auto;
    }
    margin-bottom: 30px
}

.menu-btn {
    font-family: $helvetica-m;
    color: $pink;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 200px;
}

.pink-btn {
    color: #fff;
    background-color: $pink;
    padding: 5px;
    font-family: $helvetica-m;
    border-radius: 3px;
}

.white-btn {
    width: 80px;
    color: $dark;
    background-color: #fff;
    padding: 5px;
    font-family: $helvetica-m;
    border: $gray 1px solid;
    border-radius: 3px;
}

.copyright {
    margin: 10px auto;
    border-top: #ccc solid 1px;
    padding: 20px;
    grid-area: copyr;
    color: $gray;
    font-family: $helvetica-l;
}

footer {
    padding: 1rem;
    border-top: #ccc solid 1px;
    ;
    color: $dark;
    font-size: 15px;
    display: grid;
    grid-template-areas: 'about about about about''navigation navigation categories categories''btns btns btns btns''copyr copyr copyr copyr';
    text-align: center;
}

.logo {
    width: 100px;
}

/*----- RESULT PAGE ----- */

.result-row {
    display: flex;
    align-items: center;
}

.result-img {
    img {
        width: 130px;
    }
}

.result-txt {
    font-size: 15px;
}

@media only screen and (max-width: 767px) {
    .d-mobile-none {
        display: none;
    }
}