@font-face {
    font-family: 'Gotham Bold';
    src: url(../font/GothamBold.ttf);
}

@font-face {
    font-family: 'Gotham Rounded Light';
    src: url(../font/GothamRoundedLight.otf);
}

@font-face {
    font-family: 'Helvetica Light';
    src: url(../font/HelveticaLight.ttf);
}

@font-face {
    font-family: 'Helvetica Medium';
    src: url(../font/HelveticaMedium.ttf);
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(../font/HelveticaBold.ttf);
}

/* VARIALBES */
$pink: #d35266;
$gray: #888;
$dark: #383838;

$gotham-bold: 'Gotham Bold',
san-serif;
$gotham-light: 'Gotham Rounded Light',
san-serif;
$helvetica-l: 'Helvetica Light',
san-serif;
$helvetica-m:'Helvetica Medium',
san-serif;
$helvetica-m:'Helvetica Bold',
san-serif;

/* General utilities*/

%px-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

%px-2 {
    padding-left: 3rem;
    padding-right: 3rem;
}

%px-3 {
    padding-left: 4rem;
    padding-right: 4rem;
}

%flex-between{
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #eee;
}
/* NAVIGATION BAR*/

nav {
    @extend %px-2;
    @extend %flex-between;

    height: 60px;
    align-items: center;
    background-color: $dark;

    a {
        color: $gray;
        font-size: 15px;
        font-family: $gotham-light;
    }

    .link-highlight{
        color: $pink;
    }
}

/* HEADER */

/* DEPARTMENT SECTION*/

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
}

.card{
    max-width: 400px;
    border: $gray 1px solid;
    padding: 1rem;
    object-fit: cover;
}

.card-img{
    width: 100%;
    height: 100%;}

.card-price{
    @extend %flex-between;
}

footer{
    text-align: center;
}

@media only screen and (max-width: 767px){
    .d-mobile-none{
        display: none;
    }
}